<%- include('./partials/header.ejs') %>

<h1><%= title %></h1>
<p>Welcome to <%= title %>, your trusted app for tracking your upcoming flights.</p>

<a class="btn btn-primary" href="/flights">View Flights</a>
<%- include('./partials/footer.ejs') %>
