:root {
  /* color scheme created on https://color.adobe.com/create/color-wheel */
  --main-minus-one:#C5D3E6; 
  --main-color:#e5f5fc;
  --main-plus-one:#C5E4E6; 
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--main-color);
}

a {
  color: #00B7FF;
}
