:root {
  /* color scheme created on https://color.adobe.com/create/color-wheel */
  --main-minus-two:#727A7D; 
  --main-minus-one:#9ADFFD; 
  --main-color:#e5f5fc;
  --main-plus-one:#4C6E7D; 
  --main-plus-two:#B7C4C9; 
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--main-color);
}

body > section {
  padding: 50px;
}

a {
  color: var(--main-minus-one);
}

.nav-tabs {
  border-color: var(--main-minus-two);
  padding-top: 20px;
  background-color: var(--main-plus-one);
}

.nav-item:first-of-type {
  margin-left: 10px;
}

.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #e5f5fc;
  border-color: var(--main-minus-two) var(--main-minus-two) var(--main-color);
}

.btn-secondary {
  background-color: var(--main-plus-one);
}

.spaced-li {
  margin: 10px; 
}

.card {
  margin: 0 auto 15px auto; 
}

thead {
  background: var(--main-plus-one);
  color: var(--main-minus-one);
}

.add-destination {
  margin: 5px 0 15px 0;
}

.destinations-table-heading {
  margin: 30px auto 15px auto;
}

.destinations-table > thead {
  background: transparent;
  color: black; 
}

.destinations-table-container {
  padding: 0 25%; 
}