<%- include('../partials/header.ejs') %>


<h1>Add a Flight to Your Itinerary</h1>
<br>
<form action="/flights" method="POST">
  
  <div class="form-group">
    <label for="exampleFormControlSelect1">Airline</label>
    <select class="form-control" id="exampleFormControlSelect1" name="airline">
      <option>American</option>
      <option>Southwest</option>
      <option>United</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Airport (departure)</label>
    <select class="form-control" id="exampleFormControlSelect1" name="airport">
      <option>AUS</option>
      <option>DEN</option>
      <option>DFW</option>
      <option>LAX</option>
      <option>SAN</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Flight Number</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="flightNo">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Date of departure</label>
    <input type="datetime-local" class="form-control" id="exampleFormControlInput1" name="departs">
  </div>

  <button type="submit" class="btn btn-primary">SUBMIT</button>

</form>

<%- include('../partials/footer.ejs') %>
